@{
  Layout = "_Layout";
}

<div class="jumbotron">

  <h3>@Model["word"]</h3>
  <h4>Tries Remaining: @Model["tries"]</h4>
  <h4>Tried Letters: @Model["triedLetters"]</h4>

  <form class="" action="/" method="post">
    <input type="text" name="guess" placeholder="Enter a letter">
    <button type="submit" name="button">Guess</button>
  </form>
</div>
