@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <form action="/game" method="get">
    <input type="text" name="newWord" placeholder="Enter a super secret word">
    <button type="submit" class="btn btn-info" name="button">GO!</button>
  </form>
</div>
